services:
  - type: web
    name: winecounter-api
    runtime: node
    rootDirectory: SERVER
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: MONGODB_URI
        sync: false
      - key: DB_NAME
        sync: false
